body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}
